<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section style="color: black;" class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h3>Registration Form</h3>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Registration Form</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  
    <!-- Main content -->
    <section  class="content">
      <div style="color: rgb(23, 23, 82);" class="container">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Participants information</h3>
        
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>

          <% let success= 'Team has been registered successfully!!'%>
          <% let success1='Confirmantion E-mail has been sent.'%>
          <% if (error.length>0) {if (error==success||success1){%>
            <div class="alert alert-success"><%=error%></div>
            <%}else{%>
            <div style="color: brown;" class="alert alert-danger"><%=error%></div> 
            <%}%> <%}%>
          <!-- /.card-header -->
          <form method="POST" action="/pc/register">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control has-feedback-left" id="teamname" name="teamname" required="required" placeholder="Team Name">
                  </div>
                  <!-- /.form-group -->
                  <div class="form-group">
                    <label>Coach Information</label>
                    <input type="text" class="form-control" id="coachname" name="coachname" required="required" placeholder="Name of the Coach">
                    <input type="text" class="form-control" id="coachcontact" name="coachcontact" required="required" placeholder="Contact No. of the coach">
                    <input type="text" class="form-control" id="coachemail" name="coachemail" placeholder="Email of the Coach">
                  </div>
                  <div class="form-group">
                    <h6>T-shirt size of the Coach</h6>
                    <select class="form-control" id="coachtshirt" name="coachtshirt">
                      <option disabled>---Choose option---</option>
                      <option value="M">Medium</option>
                      <option value="L">Large</option>
                      <option value="XL">Extra Large</option>
                    </select>
                  </div>
                  <!-- /.form-group -->
                  
                  <div class="form-group">
                    <label>Team Leader Information</label>
                    <input type="text" class="form-control" id="leadername" name="leadername" required="required" placeholder="Name of the team leader">
                    <input type="text" class="form-control" id="leadercontact" name="leadercontact" required="required" placeholder="Contact No. of the Team Leader">
                    <input type="text" class="form-control" id="leaderemail" name="leaderemail" placeholder="Email of the leader">
                  </div>
                  <div class="form-group">
                    <h6>T-shirt size of the leader</h6>
                    <select class="form-control" id="leadertshirt" name="leadertshirt">
                      <option disabled>---Choose option---</option>
                      <option value="M">Medium</option>
                      <option value="L">Large</option>
                      <option value="XL">Extra Large</option>
                    </select>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="institution" name="institution" required="required" placeholder="Institution Name">
                  </div>
                  <!-- /.form-group -->

                  <div class="form-group">
                    <label>Team Member-1 Information</label>
                    <input type="text" class="form-control" id="member1name" name="member1name" required="required" placeholder="Name of Member-1">
                    <input type="text" class="form-control" id="member1contact" name="member1contact" required="required" placeholder="Contact No. of Member-1">
                    <input type="text" class="form-control" id="member1email" name="member1email" placeholder="Email of Member-1 ">
                  </div>
                  
                  <div class="form-group">
                    <h6>T-shirt size of member-1</h6>
                    <select class="form-control" id="member1tshirt" name="member1tshirt">
                      <option disabled>---Choose option---</option>
                      <option value="M">Medium</option>
                      <option value="L">Large</option>
                      <option value="XL">Extra Large</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Team Member-2 Information</label>
                    <input type="text" class="form-control" id="member2name" name="member2name" required="required" placeholder="Name of Member-2">
                    <input type="text" class="form-control" id="member2contact" name="member2contact" required="required" placeholder="Contact No. of Member-2">
                    <input type="text" class="form-control" id="member2email" name="member2email" placeholder="Email of Member-2 ">
                  </div>
                  <div class="form-group">
                    <h6>T-shirt size of member-2</h6>
                    <select class="form-control" id="member2tshirt" name="member2tshirt">
                      <option disabled>---Choose option---</option>
                      <option value="M">Medium</option>
                      <option value="L">Large</option>
                      <option value="XL">Extra Large</option>
                    </select>
                  </div>
                
                  <!-- /.form-group -->
                </div>
                <!-- /.col -->
              </div>

            
            <!-- /.card-body -->
            <div class="card-footer">
              <button type="submit" class="btn btn-outline-success"><a href="/pc/register">Reset</a></button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </section>
</div>

             
